{% extends "base.html" %}

{% block title %}{{ posts.slug }}{% endblock %}

{% block sub %}
    <p>Posts with the "{{ posts.slug }}" tag</p>
{% endblock %}

{% block blog_tags %}
    {% for object in object_list %}
        <div>
            <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
            <div class="well well-sm">
                <div class="post-info">
                    <span class="label label-default">Posted</span>
                    <span class="published">
                        <time>{{ object.posted }}</time>
                    </span>
                    <span class="label label-default">Tags</span>
                    {% for tag in object.tags.all %}
                        <a href="/tag/{{ tag }}/">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="summary">
                <div>
                    <a href="{{ object.get_absolute_url }}">
                        <img src="{{ object.picture.url }}" class="img-responsive" alt="{{ post.title }}"/>
                    </a>
                </div>
                <br/>
                <div class="text-center"><a href="{{ object.get_absolute_url }}">read more...</a></div>
            </div>
            <hr/>
        </div>
    {% endfor %}
    <hr/>
{% endblock %}